<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test_Chrome">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="testNGTests.CrossBrowser" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="Test_FF">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="testNGTests.CrossBrowser" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="Test_Default">
		<parameter name="browser" value="XXX"></parameter>
		<classes>
			<class name="testNGTests.CrossBrowser" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->